.orderCard {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 17px -5px #9e9e9e;
  border-left: 15px solid #42a5f5;
  margin-bottom: 10%;
}
.orderCard2 {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 17px -5px #9e9e9e;
  border-left: 15px solid #42a5f5;
  margin-bottom: 10%;
}

.orderMid {
  text-align: -webkit-center;
}

/* .orderBlockList ul {
  list-style-type: none;
  color: #42a5f5;
  font-size: 20px;
} */

/* .orderBlockList li::before {
  content: url("../../images/bulletArrow.png");
  list-style-type: disc;
  content: "•";
  display: inline-block;
  width: 1em;
  color: #42a5f5;
  padding-right: 5px;
  background-color: red;
  border-radius: 100%;
  font-size: 20px;
  padding: 0%;
  margin: 0%; 
} */

/* .namelist li {
  list-style-type: none;
  color: red;
} */
